<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
      border: 1px solid;
    }
    
    table {
      width: 100%;
    }
    .container{
        width: 70%;
        margin: 50px auto;
    }
</style>
<body>
<div class="container">
    <h1>All Shows</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Action</th>
        </tr>
        {% for i in shows %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.network}}</td>
            <td>{{i.release_date}}</td>
            <td><a href="/shows/{{i.id}}">Show</a> | <a href="/shows/{{i.id}}/edit">Edit</a> | <a href="/shows/delete/{{i.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <a href="shows/new">Add a new show</a>
</div>
</body>
</html>