<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Now!!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}"> 	
</head>
<body>
    <h3>The current time an date is</h3>
    <div class="timebox">
        <div class="timeanddate" style="font-size: 70px; "> <h1>{{time}} </h1> </div>
        <div class="timeanddate" style="font-size: 70px; "> <h1>{{date}} </h1> </div>
    </div>

</body>
</html>