<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <h1>Add a new show</h1>
            <a href="/shows">Go Back</a>
        </div>
        <form action="/shows/makeedit/{{id}}" method="post">
            {% csrf_token %}
            <label>Title</label>
            <input type="text" name="title" value={{title}}>
            <label>Network</label>
            <input type="text" name="network" value={{network}}>
            <label>Release date</label>
            <input type="date" name="releasedate" value="{{releasedate}}"
            >
            <label>Description</label>
            <textarea name="description" id="" >{{description}}</textarea>
            <button>Update</button>
        </form>
        {% if messages %}
        <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>