<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">    
</head>
<body>
    <div class="top">
        <div class="gold">
            <h1>Your Gold</h1>
            <div class="goldcount">{{request.session.golds}}</div>
        </div>
        <div class="userspecifications">
            <form action="specify" method="post">
                <label>number of clicks</label>
                <input type="number" min="0" name="trials">
                <label>goal of golds</label>
                <input type="number" name="goalofgolds">
                <button>submit</button>
            </form>
        </div>
    </div>
    
    <div class="boxes">
        <div class="activitybox">
            <h1>Farm</h1>
            <p>(earn 10-20 gold)</p>
            <button><a href="/tentotwenty/farm">Find Gold</a></button>
            <!-- <form action="/tentotwenty" method="post">
                {% csrf_token %}
                <input type="hidden" name="place" value="farm">
                <button>Find Gold</button>
            </form> -->
        </div>
        <div class="activitybox">
            <h1>Cave</h1>
            <p>(earn 10-20 gold)</p>
            <button><a href="/tentotwenty/cave">Find Gold</a></button>
            <!-- <form action="/tentotwenty" method="post">
                {% csrf_token %}
                <input type="hidden" name="place" value="cave">
                <button>Find Gold</button>
            </form> -->
        </div>
        <div class="activitybox">
            <h1>House</h1>
            <p>(earn 10-20 gold)</p>
            <button><a href="/tentotwenty/house">Find Gold</a></button>
            <!-- <form action="/tentotwenty" method="post">
                {% csrf_token %}
                <input type="hidden" name="place" value="house">
                <button>Find Gold</button>
            </form> -->
        </div>
        <div class="activitybox">
            <h1>Quest</h1>
            <p>(earns/takes 0-50 gold)</p>
            <button><a href="/addorlose/quest">Find Gold</a></button>
            <!-- <form action="/addorlose" method="post">
                {% csrf_token %}
                <input type="hidden" name="place" value="quest">
                <button>Find Gold</button>
            </form> -->
        </div>
    </div>
    <div class="activity">
        <h1>Activity</h1>
        <div class="activity_log">
       
        <ul>{{request.session.message|safe}}</ul>

        </div>
    </div>
</body>
</html>