<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>checkerboard</title>
</head>
<body>
    {% for i in range (rows) %}
    <div class="roww">
        {% for i in range (cols) %}

                <div style="background-color: {{color1}};" class="box1"></div>
                <div style="background-color: {{color2}};"class="box2"></div>

        {% endfor %}
    </div>
    <div class="roww">
        {% for i in range (cols) %}

                <div style="background-color: {{color2}};" class="box2"></div>
                <div style="background-color: {{color1}};" class="box1"></div>

        {% endfor %}
    </div>
    {% endfor %}
</body>
</html>